
.dashboard_container {
    height: 100%;
    width: 100%;
    color:black;
}
.image_header {
    height: 58vh;
    // height: 55vh;
    width:100vw;
    margin:auto;
    display:grid;
    background-image: url(IMG_6765.jpeg);
    background-size:cover;
background-position: bottom 25% left 50%;
overflow: hidden;

    
}
.dashboard_parent_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 10px;
}

.header {
    grid-row: 1;
    grid-column: 1;
    /* background: blue; */
}

.dashboard_parent_profile_left {
    margin-top:100px;
    height:500px;
    width: 500px;
    grid-row: 1/5;
    grid-column: 1;
    /* background: red; */
    margin-left: 10px;
}

.dashboard_child_profile {
    display: grid;
    grid-template-columns: .5fr .5fr 2fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px;
    justify-items: start;
    overflow: hidden;
}
.dashboard_profile_image{
    height:200px;
    width: 200px;
    display:contain;
    overflow:hidden;
    grid-row: 1;
    grid-column:3;
    margin-left:30px;
}
.dashboard_grandchild_profile_left {
    grid-row: 1/3;
    grid-column: 1/3;
    /* background: blue; */
}

.dashboard_grandchild_profile_right {
    grid-row: 1/3;
    grid-column: 4/5;
    // background: teal;
}

.dashboard_parent_profile_right {
    /* grid-row: 1/3;
    grid-column: 2; */
    /* background: pink; */
    margin-right: 10px;
}

.dashboard_image_container {
    height: 200px;
    width: 300px;
    /* background:green; */
    display: flex;
}

.dashboard_profileinfo {
    grid-row: 3;
    grid-column: 2;
    /* background: rgb(153, 124, 124); */
}

.dashboard_profileinfo_height {
    grid-row: 4;
    grid-column: 2;
}
.dashboard_profileinfo_height_props {
    grid-row: 4;
    grid-column: 3;
}

.dashboard_profileinfo_weight {
    grid-row: 5;
    grid-column: 2;
}
.dashboard_profileinfo_weight_props {
    grid-row: 5;
    grid-column: 3;
}

.dashboard_profileinfo_age {
    grid-row: 6;
    grid-column: 2;
}
.dashboard_profileinfo_age_props {
    grid-row: 6;
    grid-column: 3;
}

.dashboard_profileinfo_birthday {
    grid-row: 7;
    grid-column: 2;
}
.dashboard_profileinfo_birthday_props {
    grid-row: 7;
    grid-column: 3;
}

.dashboard_profileinfo_email {
    grid-row: 8;
    grid-column: 2;
}
.dashboard_profileinfo_email_props {
    grid-row: 8;
    grid-column: 3;
}

.dashboard_profileinfo_gender {
    grid-row: 9;
    grid-column: 2;
}

.dashboard_profileinfo_gender_props {
    grid-row: 9;
    grid-column: 3;
} 
.dashboard_profileinfo_button {
    grid-row:11;
    grid-column: 3;
}
.group_names {
    display: flex;
    height:50px;
    width: 300px;
    border-radius: 30px;
    color:#ffffff;
    background:#07020d;
    margin-top:50px;
    // border:2px solid #07020d;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.profile {
    height:100px;
    width: 200px;
    color:#07020d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.dashboard_right_image{
    height:200px;
    width:200px;
}
.created_challenges_header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    height: 100px;
    width:300px;
}

@media (max-width:1200px) {
    .dashboard_parent_container {
        grid-template-columns: 1fr;
    }
    .image_header {
        width:100%;
        background-position: bottom 25% left 30%;
    }
    .dashboard_parent_profile_left {
        margin-top:100px;
        height:100vh;
        width: 100vw;
        grid-row: 1/4;
        grid-column: 1;
        margin-left: 10px;
    }
}
@media(max-width:1000px) {
    .dashboard_parent_container {
        grid-template-columns: 1fr;

    }
} 