/* @media screen and (min-width:320px) {
.header_container {
    height: calc(100% - 98%);
    width: 100vw;
    background:white;
    background-position: top;
    
}
@media screen and (min-width:1600px){
    .header_container {
        height: 150px;
        width: 100vw;
        background:white;
        margin:auto;
    } 
}
} */
.header_container {
    color:#ffffff;
    height: 100px;
    width: 100vw;
    // background-color:#07020d;
    background-color:none;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; 
    padding-top: 10px; 
  
}
.header_parent_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 80px;
    margin: 0 20px 0 20px;
}
.header_image {
    display: flex;
    align-content: center;
    align-items: center;
   
    margin: 0 20px 0 20px
}

.header_child_left {
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
   
}
.header_child_right {
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.hamburger_menu {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.hamburger_menu {
    height: 30px;
    width:30px;
}
.hamburger_top{ 
    height: 2px;
    width:30px;
    background: white;
    margin-top: 2px;
}
.hamburger_middle{ 
    height: 2px;
    width:30px;
    background: white;
}
.hamburger_bottom{ 
    height: 2px;
    width:30px;
    background: white;
    margin-bottom: 2px;
}
.header_container h3 {
    color: white;
    margin-right: 30px
}
